<div class="changePassword" ng-controller="ChangePasswordController" ng-init="initialize()">
    <span class="global-success" ng-show="passwordChanged == true">Password Changed</span>
    <h1>Change <span>Password</span></h1>
    <form class="changePassword-form" ng-submit="changePassword()">
        <div class="layout">
            <label for="current-pass">current password</label>
            <div class="input-holder"  ng-class="{'error' : errors.existingPassword.length > 0}">
                <input type="password" placeholder="Enter Your Current Password" id="current-pass" name="crPassword" required ng-model="form.data.existingPassword">
                <span class="error-text">{{errors.existingPassword[0]}}</span>
            </div>
        </div>
        <div class="layout">
            <label for="new-pass">new password</label>
            <div class="input-holder" ng-class="{'error' : errors.newPassword.length > 0}">
                <input type="password" placeholder="Enter Your New Password" id="new-pass" name="n-Password" required ng-model="form.data.newPassword">
                <span class="error-text">{{errors.newPassword[0]}}</span>
            </div>
        </div>
        <input type="submit" value="Change my password">
    </form>
</div>