<div class="changePassword" ng-controller="ChangePasswordController" ng-init="initialize()">
    <span class="success-message" ng-class="{'successfully-saved': passwordChanged == true}">Password Changed</span>
    <form class="changePassword-form" ng-submit="changePassword()">
        <strong class="heading-profile">Change Password.</strong>
        <div class="input-holder full-width"  ng-class="{'error' : errors.existingPassword.length > 0}">
            <label class="icon-key" for="crPassword"></label>
            <input type="password" placeholder="Enter Your Current Password" id="crPassword" name="crPassword" required ng-model="form.data.existingPassword">
            <span class="border"></span>
            <span class="error-text">{{errors.existingPassword[0]}}</span>
        </div>
        <div class="input-holder full-width" ng-class="{'error' : errors.newPassword.length > 0}">
            <label class="icon-key" for="n-Password"></label>
            <input type="password" placeholder="Enter Your New Password" id="n-Password" name="n-Password" required ng-model="form.data.newPassword">
            <span class="border"></span>
            <span class="error-text">{{errors.newPassword[0]}}</span>
        </div>
        <div class="input-holder full-width">
            <button type="submit">Change Password</button>
        </div>
    </form>
</div>
